h1 {
    color: brown;
 margin:20px;
} 

h2 {

    font-family: "Oswald", sans-serif;
margin:20px;
}

 
 a{
    text-decoration-line: none;
    display: block;
 
}
.a{
    background-color: rgb(49, 255, 238);
    color: rgb(3, 3, 3);
    padding: 5px;
    border-radius: 10px;
    border: 3px solid red;
    width: 10%;
}

button {
    display: block;
    margin: 20px; 
}

button {
    display: block;
    margin: 20px;
}

@media (max-width:600px) {
 
    h1 {
        color: blue;
        text-align: center;
        background-color: rgb(80, 247, 224);
    }

    h2 {

        color: rgb(146, 146, 2);
        text-align: center;
        background-color: rgb(80, 247, 224);

    }

    .a {
      
        width: 25%;
        margin:20px 0px 0px 20px ;
    }
button {
    display: inline-block;
}
}
@media (min-width:600px) {
.a {
      
        width: 20%;
        text-align: center;
         margin:20px 0px 0px 20px ;
    }
button {
    display: inline-block;
}
}
table{
background-color=pink;

}
 
 





